.Content_chart{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content_chart svg {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    left: 3px;
}

.Content_chart svg path {
    stroke-linecap: round;
    stroke-width: 2;
}

.Content_chart svg path.grey {
    stroke-width: 1px;
    stroke: #cbcbff66;
    fill:none;
    transform: translate(-26px, -19px);
}

.Content_chart svg path.purple {
    filter: drop-shadow(0px 0px 2px #166200);
    stroke: #166200;
    stroke-dasharray: calc(29 * 3.142 * 1.85);
    stroke-dashoffset: 86;
    fill: none;
    transform: translate(-26px, -19px);
    /* transition: 0.5s; */
}
.Content_chart.negatives svg path.purple{
    filter: drop-shadow(0px 0px 2px #770029);
    stroke: #b2003c;
}
.Content_chart.negatives svg #progressBall{
    filter: drop-shadow(0px 0px 2px #770029);
    fill: #b2003c;

}
.Content_chart svg path.progressGuia {
    stroke: none;
    fill: none;
    transform: translate(-41px, -19px);
}
.Content_chart svg text#progressText{
    transform: translate(-44px, -16px);
    font-size: 0.1em; 
    fill:#a3a3e2;
    transition: 0.5s;
    font-weight: bold;
}
.Content_chart svg #progressBall{
    transform: translate(-26px, -19px);
    r: 2;
    fill: #166200;
    filter: drop-shadow(0px 0px 2px #166200);
    /* transition: 0.5s; */
}
.Content_chart svg text{
    font-size: 0.1em; 
    fill:#a3a3e2;
}
.Content_chart svg .load0{
    transform: translate(17px, 77px);
}
.Content_chart svg .load100{
    transform: translate(74px, 77px);
}
.Content_chart svg text.load100::after{
    content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: red;
  position: absolute;
  left: 50px;
  top: 50px;
}


.goal_chart_data{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.goal_data span{
    display: block;
    font-size: 1.2em;
}
.goal_data span:nth-child(1){
    font-size: 0.4em;
}
.goal_data .goal_price{
    font-size: 1.2em;
}
.goal_data .reflactor{
    font-size: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.goal_data span:nth-child(4){
    border: 2px solid #732282;
    box-shadow: #7c0194 0 0px 20px -4px;
    padding: 7px;
    border-radius: 10px;
    font-size: 0.4em;
    text-align: center;
    top: 36px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

