@media screen and (min-width: 550px) {
    .center{
        transform: scale(1.5);
    }
}
@media screen and (max-width: 550px) {
    .offline{
        font-size: 0.6em;
    }
    .offline div span input {
        font-size: 0.35em;
        padding: 12px;
        width: 120px;
    }
}