@media screen and (min-width: 560px) {
    /* .center{
        transform: scale(1.5);
    } */
    .menu-bars{
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .offline{
        font-size: 0.6em;
    }
    .offline div span input {
        font-size: 0.35em;
        padding: 12px;
        width: 120px;
    }
    .login svg{
        height: 100%;
        width: 160vw;
        margin-right: 60vw;
    }
    /*style menu*/
    .menu-bars{
        height: 50px;
        cursor: pointer;
        width: 50px;
        position: fixed;
        right: 14px;
        top: 7px;
        z-index: 2;
    }
    .menu-bars::after{
        position: absolute;
        content: "";
        width: 30px;
        height: 5px;
        right: 12%;
        top: 20%;
        border-radius: 5px;
        transform: rotate(0deg);
        background: none;
        background-image: linear-gradient(90deg, #1248c300 0%, #e91e63  100%);
        transition: 0.5s;
    }
    .menu-bars span{
        position: absolute;
        width: 40px;
        height: 5px;
        right: 12%;
        top: 40%;
        border-radius: 5px;
        transform: rotate(0deg);
        background: none;
        background-image: linear-gradient(90deg, #1248c300 0%, #e91e63  100%);
        transition: 0.5s;
    }
    .menu-bars.hidde::after{
        transform: rotate(30deg);
    }
    .menu-bars.hidde::before{
        transform: rotate(-30deg);
    }
    .menu-bars::before{
        position: absolute;
        content: "";
        width: 30px;
        height: 5px;
        right: 12%;
        top: 60%;
        border-radius: 5px;
        transform: rotate(0deg);
        background: none;
        background-image: linear-gradient(90deg, #1248c300 0%, #e91e63  100%);
        transition: 0.5s;
    }
    .open_close_session{
        display: none !important;
    }
    /*selected after element*/
    /* .menu-bars + .movil {
        background: red !important;
    } */
    /*selected before element*/
    /* .menu-bars:has(~ .window) {
        background: red !important;
    } */
    /*selected before element with have .hidde*/
    /* .menu-bars:has(~ .menu.hidde) {
        background: red !important;
    } */
    /*selected before element with have not .hidde*/
    /* .menu-bars:not(:has(~ .menu.hidde)) {
        background: red !important;
    } */
    .menu-bars:not(:has(~ .menu.hidde)) span{
        /* width: 30px; */
        opacity:0 ;
    }
    .menu-bars:not(:has(~ .menu.hidde))::after{
        transform: rotate(-30deg);
        top: 12px;
    }
    .menu-bars:not(:has(~ .menu.hidde))::before{
        transform: rotate(+30deg);
        transition: 0.5;
        top: 26px;
    }
    .menu-bars:not(:has(+ .menu.hidde))::after,
    .menu-bars:not(:has(+ .menu.hidde))::before{
        background-image: linear-gradient(90deg, #E91E63,transparent);
    }
    .menu-bars + .movil:not(.hidde) .Session_user_info,
        .menu-bars + .movil:not(.hidde) .close_Session_option{
        
        animation: effectOpen 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) backwards;
       
    }
    @keyframes effectOpen {
        0%{
            margin-right: 0px;
        }
        100%{
            margin-right: 50px;
        }
    }
    .movil{
        display: block;
        background-color: #1c1c28c4;
        height: 100vh;
        width: 100vw;
        right: 0;
        font-size: 0.5em;
        overflow: auto;
        text-align: center;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
        line-height: normal;
        
    }
    .movil div span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .menu.hidde{
        width: 0px;
        padding: 0px;
    }
    .movil div{
        margin: auto;
        display: block;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .movil .menu-user-content {
        display: none;
    }
    .movil .close_Session_content{
        
        margin-top: 90px;
        max-width: 77%;
        position: relative;
        margin-right: 0;
        display: block;
    }
    .movil .img_user{
        width: 200px;
        height: 200px;
        border-radius: 500px;
        overflow: hidden;
        max-width: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 4px solid #1c1c28;
    }
    .movil .img_user img{
        width: 190px;
        height: 190px;
        border-radius: 500px;
        overflow: hidden;
        max-width: none;
    }
    .movil .close_Session_user_info span{
        margin-bottom: 10px;
        font-size: .9em;
    }
    .movil .nameMovil{
        text-align: center;
        font-size: 1.5em;
        margin-top: 25px !important;
    }
    .movil .Session_user_info span:nth-child(1){
        display: none;
    }
    .movil .nameMovil,
    .movil .Session_user_info span:nth-child(2){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 55px;
        display: block;
    }
    .movil .Session_user_info,
    .movil .close_Session_option{
       /* top: 50%;
       position: absolute; */
       margin-right: 50px;
    }
    .movil .Session_user_info span:nth-child(3){
        color: #0078d6;
        background-color: inherit;
        text-decoration: underline;
        cursor: pointer;
        display: block;
    }
    .movil .close_Session_option span:nth-child(1){
        margin-top: 15px;
        display: block;
    }
    .movil .close_Session_option span:nth-child(1),
    .movil .close_Session_option span:nth-child(2){
        cursor: pointer;
    }
    .movil .close_Session_option span:nth-child(2){
        margin-top: 55px;
        display: block;
        text-decoration: underline;
        
    }
    .movil .menu-search{
        background: none;
        height: 50px;
        position: absolute;
        bottom: 72px;
        left: 133px;
        top: 0;
        overflow: hidden;
        transform: scale(1.1);
    }
    .movil .menu-search div{
        background-color: transparent;
        
    }

    .movil .menu-search input{
        width: 15px;
        transition: 0.5s;
        z-index: 1;
    }
    .movil .menu-search input::placeholder{
        color: transparent;
    }
    .movil .menu-search input:focus{
        width: 100px;
    }
    .movil .menu-search input:focus::placeholder {
        color: rgb(165, 165, 165);
    }
    .movil .menu-search input,
    .movil .menu-search input:focus,
    .movil .menu-search input:valid,
    .movil .menu-search input:not(:placeholder-shown) {
        border: none;
        box-shadow: none;
        outline: none;
        background: transparent;
    }
    
    .movil .menu-search span{
        background: transparent;
        left: -30px;
        position: relative;
    }
    .movil .menu-search span img{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    /**/
    /* .menu:not(.hidde) + .mainSection{
        position: absolute;
        left: calc(-100% + 100px);
        height: 100%;
        width: 100%;
        background: black;
        border-radius: 0px 100px 100px 0px;
        box-shadow: -1px -1px 20px 7px #000000c4;
    } */
    .mainSection.hidde{
        position: absolute;
        left: calc(-100% + 100px);
        height: 100%;
        width: 100%;
        background: black;
        border-radius: 0px 100px 100px 0px;
        box-shadow: -1px -1px 20px 7px #000000c4;
    }
    .mainSection.hidde .reload{
        left: calc(-100% + 0px) !important;
       
    } 
    .mainSection.hidde .CriptoSection:after{
        background: linear-gradient(90deg,rgba(0, 0, 0, 0),#00000000);
       
    } 
    /*to avoid can make click when menu is opens*/
    .mainSection.hidde::after{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    /* .menu:not(.hidde) + .mainSection .reload{
        left: calc(-100% + 0px) !important;
       
    } 
    .menu:not(.hidde) + .mainSection .CriptoSection:after{
        background: linear-gradient(90deg,rgba(0, 0, 0, 0),#00000000);
       
    } 
    /*to avoid can make click when menu is opens*/
    /*.menu:not(.hidde) + .mainSection::after{
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    } */
    .mainSection{
        height: 100%;
        top: 0px;
    }
    /*end style menu*/

    /*show full seach_place*/
    .seach_place{
        margin-top: 0;
    }
    
    .seach_place.active{
        height: 100% !important;
        width: 100%;
        z-index: 6;
    }
    
}
@media screen and (max-width: 433px) {
    .movil div{
        transform: scale(0.93);
    }
    .movil .Session_user_info, .movil .close_Session_option {
        margin-right: 10px !important;
    }
    .movil .close_Session_content {
        margin-top: 50px !important; 
    }
    .movil .menu-search{
        left: 100px;
    }
    .movil .nameMovil{
        margin-top: -10px !important;
    }
}
@media screen and (max-width: 380px) {
    .loginContent{
        transform: scale(0.88);
    }
}
@media screen and (max-width: 370px){
    .movil div {
         transform: scale(0.87); 
    }
    .movil .Session_user_info, .movil .close_Session_option {
        margin-right: -15px !important;
    }
    .movil .close_Session_content {
        margin-top: 20px !important; 
    }
    .movil .menu-search{
        left: 100px;
    }
}

@media screen and (max-width: 717px) {
    /*begin buySpace*/
    .buySpace_content_flex{
        display: inline-block;
        transform: scale(1.5);
    }
    .buySpace_content{
        position: absolute;
        display: block;
        overflow: auto;
        height: 100%;
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1435px) {
    /*adapt to phone*/
    .mainSection{
        display: block;
    }
    
    .section2.show .section2_option{
        width: 100%;
        height: 60px;
        right: 6px;
        display: flex;
        justify-content: right;
        position: absolute;
        top: -14px;
        align-items: center;
        font-size: 16px;
        z-index: 1;

    }
    .section2.show  .close_sect2{
        cursor: pointer;
        height: 30px;
        width: 30px;
        border-radius: 10px;
    }
    .section2.show  .close_sect2::after{
        position: absolute;
        content: "";
        border-radius: 50px;
        width: 3px;
        height: 16px;
        right: 11px;
        top: 17px;
        transform: rotate(40deg);
        background: #DDE1FB;
    }
    .section2.show  .close_sect2::before{
        position: absolute;
        content: "";
        border-radius: 50px;
        width: 3px;
        height: 16px;
        right: 21px;
        top: 17px;
        transform: rotate(140deg);
        background: #DDE1FB;
    }
    .section2.show .section2_option .section2_option_window{
        display: none;
    }
    .section1,
    .section2{
        width: 100%;
    }
    .section2{
        position: absolute;
        bottom: 0;
        height: 0;
        top: 100%;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        /* background: #000000; */
        background-image: linear-gradient(360deg, #000352 50%, #000000f5 100%);
        display: inline-flex;
        z-index: 2;
        overflow: hidden;
    }
    .section2.show{
        height: calc(100% - 45% + 50px);
        top: calc(45% - 50px);
    
    }
    .section2 .statusSection,
    .section2 .historySection{
        height: 90%;
        width: 50%;
        min-width: 366px;
        max-width: 500px;
        margin: auto;
    }
    
}
@media screen and (max-width: 735px) {
    .section2.show {
        /* display: block !important; */
    }
    .section2 .statusSection,
    .section2 .historySection{
        position: absolute;
        height: calc(100% - 60px - 8px);
        width: 100%;
        margin-top: 15px;
        max-width: none;
        left: 0;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .open_statusSection::after{
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        border-radius: 5px;
        left: 0;
        top: 0;
        background-color: #0007c7;
        box-shadow:0 0 20px 2px black;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    /*valid when hidde one of them all depend of .active class from .section2_option*/
    /* .section2_option.active  .open_statusSection{
        background-color: #0007c7;
    }
    .section2_option:not(.active)  .open_historySection{
        background-color: #0007c7;
    } */
    .section2_option:not(.active)  .open_statusSection::after{
        left: 40px;
    }
    .section2_option.active +  .statusSection{
        left: 0;
    }
    .section2_option:not(.active) +  .statusSection +  .historySection{
        left: 0;
    }
    .section2 .historySection{
        left: 100%;
    }
    .section2 .statusSection{
        left: -100%;
    }
    
    /*end valid*/
    
    .statusContent, .historyContent{
        background: transparent;
    }
    
    .section2.show .section2_option .section2_option_window{
        display: flex;
        background: #000478eb;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        height: 25px;
        overflow: hidden;
        left: 13px;
        position: relative;
        color: #DDE1FB;
    }
    .section2_option_window div{
        width: 40px;
        height: 20px;
        overflow: hidden;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }
    /* .section2_option_window div.active{
        background-color: #0007c7;
    } */
    .section2.show .section2_option{
        justify-content: space-between;
    }
    .center{
        height: 100%;
    }
    .reload{
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        width: 100%;
        bottom: 0px;
        background-image: linear-gradient(360deg, #000000f2, #00000000 );
        
        left: 0;
        height: 60px;
        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .reload div{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .reload .cripto_IMG_selected{
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #0000004f;
        box-shadow: 0 0 15px 5px #0000004f;
    }
    .reload .cripto_IMG_selected img{
        width: 100%;
        height: 100%;
    }

    .criptoContent{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 90%;
        left: 5%;
        position: relative;
    }

    .expenseSection{
        position: absolute;
        left: 0;
        width: 100%;
        height: 35px;
        min-height: 0px; 
        font-size: 0px; 
        transition: 0.5s;
        margin-top: 5px;
        overflow: initial;
    }
    .summaryWallets {
        display: flex;
        justify-content: center;
    }
    .summaryWallets .criptoRanking{
        min-width: 0px;
        min-height: 0px;
        display: flex;
        height: 31px;
        padding: 0;
        margin: 0;
        margin-top: 3px;
        opacity: 0.5;
        border-radius: 100px;
    }
    .summaryWallets .criptoRanking.selected{
        opacity: 1;
    }
    .summaryWallets .criptoRanking .ranking{
        display: none;
    }
    .summaryWallets .imgCripto {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 80px; 
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .CriptoSection{
        top: 40px;
    }

    /*efect shadow fo .CriptoSection*/
    .CriptoSection:after{
        position: absolute;
        content: '';
        bottom: 0px;
        background: linear-gradient(90deg,rgb(0 0 0 / 0%),#000000);
        height: 100%;
        right: 0;
        width: 53px;
        left: auto;
    }
    .CriptoSection::before{
        position: absolute;
        content: '';
        bottom: 0px;
        background: linear-gradient(270deg,rgb(0 0 0 / 0%),#000000);
        height: 100%;
        left: 0;
        width: 53px;
        z-index: 1;
    }
    .arrow_to_slides1{
        left: 0;
    }
    .arrow_to_slides2{
        right: 0;
        
    }
    .arrow_to_slides1 span{
        border-left: 10px solid #ffffff;
        border-right: 0px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        transform: rotate(180deg);
         
    }
    .arrow_to_slides2 span{
        border-left: 10px solid #ffffff;
        border-right: 0px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid transparent;
        
    }
    .arrow_to_slides1,
    .arrow_to_slides2{
        position: absolute;
        width: 54px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        border-radius: 5px;
        cursor: pointer;
    }
    .criptoContent{
        position: absolute;
        overflow: hidden;
    }
    .myCriptos {
        position: absolute;
        margin: 10px;
        opacity: 0;
        transform: translate(-53%, -53%) scale(0.6);
        left: 50%;
        top: 50%;
        /* transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
        box-shadow: 0 0 20px 7px black;
    }
   
    .myCriptos.focus{
        opacity: 1;
        z-index: 1;
        transform: translate(-53%, -53%) scale(1.1);
    }
    .myCriptos.right{
        opacity: 0.5;
        transform: translate(-53%, -53%) scale(0.6);
        z-index: 0;
    }
    .myCriptos.left{
        opacity: 0.5;
        transform: translate(-53%, -53%) scale(0.6);
        z-index: 0;
    }
    .myCriptos:hover{
        cursor: pointer;
    }
    .myCriptos.focus{
        transform: translate(-53%, -53%) scale(1.1);
    }
    .myCriptos.right:hover,
    .myCriptos.left:hover{
        cursor: pointer;
        transform: translate(-53%, -53%) scale(0.6);
        background: rgb(0, 0, 0);
    }
    
}