.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    /* height: calc(100% - 60px);
    top: 60px; */
    height: 100%;
    overflow: hidden;
    left: 0;
    transition: 0.5s;
}
.section1{
    width: 70%;
    height: 100%;
}
.chartSection{
    height: 45%;
    width: 100%;
    transition: 0.5s;
}
.chartInfo{
    height: 50px;
    width: 100%;
    text-align: center;
    top: 20px;
    position: relative;
    z-index: 3;
    font-size: 1.5em;
}
.chartContent{

    height: 100%;
    margin-top: -50px;
    width: 100%;
    /* background-color: rgba(105, 107, 105, 0.219); */
    overflow: hidden;
    position: relative;

}
.loadinCripto{
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: calc(100% - 33px);
    backdrop-filter: blur(2px);
    background-color: #00000045;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.loadinCripto span{
    width: 70px;
    height: 70px;
    border-radius: 500px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    margin-top: -23px;
}
.chartContent.load .loadinCripto{
    display: flex;
    opacity: 1;
}
.chartContent.load .loadinCripto span{
    animation: load 1s linear infinite;
}
@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.graphic_chart{
    width: 100%;
    height: calc(100% - 80px);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.graphic_chart_not_valid{
    position: absolute;
    width: 100%;
    height: calc(100% - 53px);
    top: -21px;
    /* background: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(6px);
    font-size: 0.5em;
    
}
.graphic_chart_not_valid p{
    margin-top: 60px;
}
.graphic_chart svg g  g g:nth-child(2) g  g g text {
    /* fill: red; */
}
.chart_options{
    position: relative;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgb(128 128 128 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}
.chart_options_buttom{
    position: relative;
    width: calc(100% - 107px);
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: auto;
}
.chart_options_buttom::after{
    position: absolute;
    content: '';
    bottom: 0px;
    right: 0;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0),#000000);
    height: 100%;
    width: 39px;
    right: 0;
    display: none;
}
.chart_options_buttom button{
    height:30px;
    width: 40px;
    border-radius: 10px;
    margin:0px 5px 0px 5px;
    border: none;
    background: #0014ffb5;
    background-image: linear-gradient(246deg, #000642b5, transparent);
    transition: 0.5s;
    color: #7c7bff;
    font-weight: bold;
}
.chart_options_buttom button:hover,
.chart_options_style span:hover{
    background: #7a0090;
    cursor: pointer;
}
.chart_options_buttom button.active,
.chart_options_style span.active{
    background: #0d004bd1;
}
.chart_options_style{
    width: 107px;
    height: 60%;
    border-left: 2px solid rgb(128 128 128 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_options_style span{
    height:30px;
    width: 40px;
    border-radius: 10px;
    margin:0px 5px 0px 5px;
    background: #0014ffb5;
    background-image: linear-gradient(246deg, #000642b5, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.expenseSection{
    position: relative;
    height: 11%;
    max-height: 140px;
    min-height: 104px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
    margin-top: -23px;
}
.seach_place.searchPlace,
.seach_place.active{
    display: inline-block;
    height: calc(100% - 60px);
}

.rankingContent{
    width: 100%;
    height: 100%;
    display: inline-flex;
    overflow-y: hidden;
    overflow-x: auto;
}
.seach_place{
    position: absolute;
    display: inline-block !important;
    width: 100%;
    height: 0px;
    margin-top: 60px;
    overflow: hidden;
    backdrop-filter: blur(6px);
    background-color: #00000045;
    font-size: 20px;
    text-align: center;
    transition: 0.5s;
    z-index: 4;
}
.rankingContent2{
    width: 100%;
    height: calc(100% - 28px);
    margin-top: 28px;
    position: relative;
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    transition: 0.1s;
}
.rankingContent2.active{
    display: inline-block;
}
.seach_place  .criptoRanking{
    opacity: 0;
}
.seach_place.active .criptoRanking{
    opacity: 1;
}
.criptoRanking{
    position: relative;
    margin: 15px;
    border-radius: 10px;
    
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    text-align: center;
    display: inline-block;
    
    background: rgb(20 20 20 / 66%);
    padding: 10px;
    transition: 0.5s;
}
 .criptoRanking.image{
    height: 60px ;
    min-width: 0px !important;
    min-height: 0px !important;
}
/* to click event */
.criptoRanking:after {
    content: "";
    position: absolute;
    /* background: red; */
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.criptoRanking.invalid:hover,
.criptoRanking.invalid{
    cursor:not-allowed !important;
    background: rgba(204, 2, 2, 0.54) !important;
}

.criptoRanking.own{
    cursor:not-allowed !important;
    background: rgba(76, 204, 2, 0.54) !important;
}
.criptoRanking.own::after{
    position: absolute;
    content:'✔';
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background: rgba(0, 255, 0, 0.637) !important;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
    
}
.criptoRanking:hover,
.myCriptos:hover{
    cursor: pointer;
    transform: scale(1.03);
    background: rgb(0, 0, 0);
} 
.criptoRanking:nth-child(2n):hover,
.criptoRanking:nth-child(2n).selected{
    background:#000f7c;
}
.criptoRanking:nth-child(2n-1):hover,
.criptoRanking:nth-child(2n-1).selected{
    background:#6d007c;
}
.myCriptos:hover{
    background-image: linear-gradient(300deg, #000f7c, transparent);
}
.expOption{
    position: absolute;
    right: 0;
    margin-top: 5px;
    z-index: 1;
    width: 100%;
    height: 23px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #DDE1FB;
    
}
.searh_details{
    position: absolute;
    left: 0;
    padding-left: 10px;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
}
.searh_options{
    position: relative;
    height: 100%;
    width: 30px;
    margin-right: 25px;
    cursor: pointer;
    z-index: 2;
}
.searh_options span{
    display: block;
    background: #000dac;
    height: 9px;
    width: 9px;
    margin: 2px 2px 2px 4px;
    
}
.searh_options span::after{
    position: absolute;
    content: '';
    right: 5px;
    display: block;
    background: #4155ec;
    height: 9px;
    width: 9px;
    transition: 0.5s;
}
.closeSearch{
    padding-right: 10px;
    cursor: pointer;
}
.imgCripto{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCripto span:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100%;
}

.criptoRanking:hover .imgCripto span:nth-child(1) img {
	-webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(15deg) scale(1.2); 
} 

.imgCripto span:nth-child(1) img {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgCripto span:nth-child(2){
    position: relative;
    right: -16px;
    top: -23px;
    background: #d8ff002e;
    padding: 2px;
    font-size: 15px;
    border-radius: 100px;
    display: none;
}
.ranking{
margin-top: 5px;
}
.CriptoSection{
    position: relative;
    height: 37%;
    text-align: center;
    overflow: hidden;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.criptoContent{
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 94%;
    height: calc(100% - 12px);
    text-align: center;
}
.arrow_to_slides1,
.arrow_to_slides2{
    display: none;
}
.CriptoSection:after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    /* box-shadow: 0px 8px 73px 55px rgb(0 0 0 / 92%); */
    background: linear-gradient(180deg,rgba(5,10,15,0),#000000);
    height: 51px;
    right: 0;
    /* z-index: 2; */
}
.titleSecion{
    height: 20px;
    width: 100%;
    font-size: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.titleSecion span:nth-child(1){
    margin: 10px;
}
.titleSecion .num_walltes{
    margin: 0px !important;
}
.Empty_wallets_content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Empty_wallets_content p{
    color: aliceblue;
    padding: 30px;
    background: rgb(20 20 20 / 54%);
    border-radius: 10px;

}
/* .backgroundCripto{
    display: inline-block;
    
}
.backgroundCripto.active{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000c7;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.backgroundCripto.active .chartCritoContent{
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 53%;
    margin-top: -82px;
    left: 0vw;
    border-top: 2px solid #0000a56e;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.backgroundCripto.active .myCriptos:hover{
    transform: none;
    cursor:auto;
    background: rgba(0, 0, 0, 0.54);
}
.backgroundCripto.active .myCriptos{
    transition: none;
}
.backgroundCripto.active .chartCritoContent::after{
    position: absolute;
    content: '';
    background: #000000;
    height: 10px;
    width: 300px;
    margin-top: -6px;
    margin-left: -150px;
} */
.myCriptos{
    position: relative;
    display: inline-block;
    /* border: 2px solid #0000a56e; */
    height:200px ;
    width: 280px;
    min-width: 280px;
    font-size: 0.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    transition: 0.5s;
    background: rgb(0, 0, 0);

    background-image: linear-gradient(300deg, #0015ab, transparent);
}
.myCriptos.not_buys .chartCrito:after {
    position: absolute;
    content: '';
    background: #000000;
    height: 21px;
    width: 300px;
    min-width: 26%;
    left: 0px;
    margin-top: -4px;
}
.myCriptos.not_buys .chartCrito{
    overflow: hidden;
    height: 0px;
    margin-top: 27px;
}
.myCriptos.positives{
    transition: 0.5s;
    background-image: linear-gradient(300deg, #0015ab, #1aab0094);
}
.myCriptos.negatives{
    transition: 0.5s;
    background-image: linear-gradient(300deg,#0015ab, #ab0000bf);
}

/*list style bacground color*/
.CriptoSection.listing .myCriptos.positives{
    transition: 0.5s !important;
    background-image: linear-gradient(300deg, #0014ab00, #4caf503b) !important;
}
.CriptoSection.listing .myCriptos.negatives{
    transition: 0.5s !important;
    background-image: linear-gradient(300deg,#0014ab00, #e91e6329 ) !important;
}

.infoCripto{
    display: flex;
    align-items: center;
}
.cripto_info{
    display: block;
    width: 100%;
}
.cripto_info_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}
.criptoID{
    font-size: 0.7em;
    position: relative;
    top: -2px;
}
.critoName{
    display: block;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    position: relative;
    top: 2px;
}
.cristoIMG{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    /* background: #201f1f; */
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cristoIMG img{
    width: 100%;
}
.criptoData{
    display: flex;
    font-size: 0.8em;
    text-align: left;
}

.percentCripto{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #4caf503b;
    border-radius: 5px;
    padding: 3px 8px 3px 10px;
    font-size: 0.9em;
}
.percentCripto:has(.percent.negative){
    background: #e91e6329 !important;
}

.chartCrito{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.8em;
}
.chartCrito div span{
    display: block;
}
.detailsCritoContent{
    height: 49px;
}
.elapseTim{
    font-size: 0.8em;
    color: #d3eaff;
}
.section2{
    width: 30%;
    height: 100%;
    transition: 0.5s;
    top: 60px;
    position: relative;
}
.section2 .section2_option{
    display: none;
}
.statusSection,
.historySection{
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusContent,
.historyContent{
    position: relative;
    width: 90%;
    height: calc(90% - 15px);
    padding: 15px;
    background: rgb(20 20 20 / 54%);
    border-radius: 15px;
}
.loading {
    display: none;
}
.statusContent.show_loading .loading{
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.buySpace{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.statusContent.active .buySpace{
    position: relative;
    display: block;
    z-index: 2;
    height: auto;
    top: 40px;
    max-width: 530px;
    width: 95%;
    margin: auto;
}
.statusContent.active{
    position: fixed;
    width: 100%;
    left: 0;
    height: calc(100% - 70px);
    overflow: auto;
    padding: 0px;
    background: rgb(0 0 0 / 55%);
    top: 0;
    z-index: 3;
    backdrop-filter: blur(11px);
    border-radius: 0;
}
.statusContent.active .center{
    position: relative;
    height: auto;
    margin: auto;
    max-width: 530px;
    width: 95%;
    top: 50px;
    
}
.statusContent.active .center .invest_status_img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, black 24%, transparent 100%)
}
.statusContent.active .reload{
    display: none;
}
.buySpace_content{
    font-size: 0.6em;
    /* background: linear-gradient(rgb(0, 21, 171), transparent) rgb(0, 0, 0); */
    width: 100%;
    height: 100%;
}

.buySpace_content_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buySpace_card_data{
    position: relative;
    display: block;
    width: 100%;

}

.buySpace_ghostBuy.active{
    height: 120px;
}
  
.ghostBuy1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
}
.ghostBuy1_content span{
    display: block;
    text-align: left;
}
.buySpace_card_data .blue{
    font-size: 0.8em !important;
}
.ghostBuy2 .setups_options_item,
.buySpace_card_data .setups_options_item{
    margin: 0;
}
.ghostBuy2 .setups_options_item .checkbox_parent,
.buySpace_card_data .setups_options_item .checkbox_parent{
    right: -10px;
}
.buySpace_ghostBuy{
    position: relative;
    text-align: left;
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    height: 0;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    
}
.buySpace_ghostBuy .ghostBuy2{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.buySpace input {
    font-size: 18px;
    padding: 9px 9px 1px;
    border: 0;
    background: none;
    border-bottom: 2px solid #6f6f6f;
    color: aliceblue;
    
}
.buySpace_bottom span{
    position: relative;
    display: block;
    text-align: center;
    margin: auto;
    width: max-content;
}
.buySpace input[type="checkbox"] {
    position: absolute;
    right: 4px;
    width: 50px;
    height: 25px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    
}
.buySpace input,
.buySpace input:focus,
.buySpace input:valid,
.buySpace input:not(:placeholder-shown) {
    
    box-shadow: none;
    outline: none;
    background: transparent;
}
.ghostBuy1_content span{
    position: relative;
}
.ghostBuy1_content span:nth-child(2):after,
.buySpace_bottom span:nth-child(2):after{
    position: absolute;
    content: '';
    width: 9px;
    left: 0px;
    top: calc(100% - 9px);
    border-bottom: 2px solid #adadad;
    border-left: 2px solid #adadad;
    height: 7px;
}
.ghostBuy1_content span:nth-child(2)::before,
.buySpace_bottom span:nth-child(2)::before{
    position: absolute;
    content: '';
    width: 9px;
    right: 0px;
    top: calc(100% - 9px);
    border-bottom: 2px solid #adadad;
    border-right: 2px solid #adadad;
    height: 7px;
}

.profits_bottom{
    position: fixed;
    bottom: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    z-index: 0;
    left: 0;
    background: rgb(0 0 0 / 55%);
    backdrop-filter: blur(11px);
}
.statusContent.active + .profits_bottom{
    display: flex;
    z-index: 3;
}
.statusContent.show_loading + .profits_bottom .profits_content{
    display: none;
    z-index: 0;
}
.profits_content{
    max-width: 530px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profits_bottom button{
    height: 40px;
    width: 124px;
    margin-bottom: 5px;
    border-radius: 10px;
    background: #770029;
    box-shadow: #770029 0 10px 20px -10px;
}
.buySpace_bottom {
   
    text-align: center;
}
.profits_bottom button:nth-child(2){
    background: rgb(76 204 2 / 55%);
    box-shadow: rgb(76 204 2 / 65%) 0 10px 20px -10px;
}
.sectionContent span:nth-child(1){
    border-radius: 112px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 4px solid #1c1c28;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px 5px #0000004f;
    margin: auto;
}
.sectionContent span:nth-child(1) img{
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 200px;
}
.url_.hidde{
    display: none;
}

.chekboxes{
    display: flex;
    background: #3939398c;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 60px;
    overflow: hidden;
    left: 0px;
    position: relative;
    color: #DDE1FB;
    font-size: 0.6em;
    transform: scale(0.8);
    cursor: pointer;
}
.chekboxes div{
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.checkbox_parent{
    position: relative;
    display: flex;
    align-items: center;
}
.checkbox_parent .checkbox_input{
    position: absolute;
    right: 4px;
    width: 50px;
    height: 25px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
}
.checkbox_parent .checkbox_input:checked + .chekboxes .off::after{
    left: 30px;
    background: #2d7702;
}
.checkbox_parent .checkbox_btn{
    margin: 0px 7px 0px 7px;
    background: #000f7c;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.7em;
    cursor: pointer;
}
.checkbox_parent .checkbox_btn:last-child{
    margin: 0px -7px 0px 7px;
}
.checkbox_parent .checkbox_btn.selected{
    background: #2d7702 !important;
}

.off::after{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    border-radius: 100px;
    left: 0;
    top: 0;
    background-color: #e91e63 ;
    box-shadow:0 0 20px 2px black;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.chart_percent{
    height: 40px;
    max-width: 530px;
    width: 100%;
    display: flex;
    position: relative;
    font-size: 0.5em;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}
.chart_percent_negativo{
    background-color: #e91e63 ;
    width: 0%;
    border-radius: 5px 0 0px 5px;
    height: 27px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.chart_percent_positivo{
    background-color: #007e05 ;
    width: 0%;
    border-radius: 0 5px 5px 0;
    height: 27px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/*list style to .myCriptos*/
.grid_list span{
    transition: 0.5s;
}

.CriptoSection.listing .grid_list span:nth-child(1){
    width: 21px;

}
.CriptoSection.listing .grid_list span:after{
    background: transparent;
}
.CriptoSection.listing{
    top: -22px;
    height: calc(55% - 60px);
}
.CriptoSection.listing::after,
.CriptoSection.listing::before{
    width: 0;
}
.expenseSection:has(~ .CriptoSection.listing),
.CriptoSection.listing .arrow_to_slides1,
.CriptoSection.listing .arrow_to_slides2{
    display: none;
}

.CriptoSection.listing .criptoContent{
    display: block;
    overflow-y: auto;
    width: 100%;
    min-width: 0;
    left: 0;
    max-width: 100%;
    
}
.CriptoSection.listing .criptoContent .myCriptos{
    position: relative;
    overflow: hidden;
    height: 48px;
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
    left: 0;
    top: 0;
    z-index: 0;
    /* margin: -3px; */
    background: transparent;
    
}
.CriptoSection.listing .criptoContent .myCriptos.focus{
    background-image: linear-gradient(300deg, #0015ab80, transparent);
}


/*funcionality of menu*/
.historySection{
    position: relative;
}
.menu_large{
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.3em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.menu_large .menu_large_item{
    position: relative;
    border-bottom: 2px solid rgba(128, 128, 128, 0.205);
    padding: 10px 10px 0 10px;
    transition: 0.5s;
}
.menu_large .menu_large_item::before{
    position: absolute;
    content: '';
    width: 2px;
    height: 10px;
    bottom: 0px;
    left: 0;
    background:  rgba(128, 128, 128, 0.205);
    display: none;
}
.menu_large .menu_large_item::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.5s;
}
.menu_large .menu_large_item:has(input[type="checkbox"]:checked):after{
    width: 100%;
    background: #9c27b0ad;
    
}
.menu_large .menu_large_item:has(input[type="checkbox"]:checked){
    
    background-image: linear-gradient(180deg, transparent ,#9c27b04a);
}
.menu_large .menu_large_item input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -2px;
    z-index: 1;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}

/*to open each page*/
.historyContent .page_ct{
    position: absolute;
    width: 100%;
    height: calc(90% - 15px);
    overflow: hidden;
    opacity: 1;
    display: none;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.3s; 
}
.menu_large:has(.menu_large_item:nth-child(1) input[type="checkbox"]:checked) + .historyContent .page_ct:nth-child(1).active,
.menu_large:has(.menu_large_item:nth-child(2) input[type="checkbox"]:checked) + .historyContent .page_ct:nth-child(2).active,
.menu_large:has(.menu_large_item:nth-child(3) input[type="checkbox"]:checked) + .historyContent .page_ct:nth-child(3).active{
    display: flex !important; 
    animation: showPage 0.3s linear forwards;
}

@keyframes showPage{
    100%{
        /* opacity: 1;  */
    }
}

.section1{
    position: relative;
}
/* 
 .section2:has( .statusContent.active){
    z-index: 5;
 } */
