.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    overflow: hidden;
    left: 0;
    transition: 0.5s;
}
.section1{
    width: 70%;
    height: 100%;
}
.chartSection{
    height: 45%;
    width: 100%;
    transition: 0.5s;
}
.chartInfo{
    height: 50px;
    width: 100%;
}
.chartContent{

    height: 100%;
    margin-top: -50px;
    width: 100%;
    /* background-color: rgba(105, 107, 105, 0.219); */
    overflow: hidden;
    

}
.graphic_chart{
    width: 100%;
    height: calc(100% - 50px);
}
.chart_options{
    width: 100%;
    height: 50px;
    border-top: 2px solid rgb(128 128 128 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_options_buttom{
    position: relative;
    width: calc(100% - 107px);
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow: auto;
}
.chart_options_buttom::after{
    position: absolute;
    content: '';
    bottom: 0px;
    right: 0;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0),#000000);
    height: 100%;
    width: 39px;
    right: 0;
    display: none;
}
.chart_options_buttom button{
    height:30px;
    width: 40px;
    border-radius: 10px;
    margin:0px 5px 0px 5px;
    border: none;
    background: rgb(173 0 159 / 82%);
    background-image: linear-gradient(246deg, #0328dfd6, transparent);
    transition: 0.5s;
    color: #7c7bff;
    font-weight: bold;
}
.chart_options_buttom button:hover,
.chart_options_style span:hover{
    background: rgb(255 31 237 / 82%);
    cursor: pointer;
}
.chart_options_style{
    width: 107px;
    height: 100%;
    border-left: 2px solid rgb(128 128 128 / 24%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_options_style span{
    height:30px;
    width: 40px;
    border-radius: 10px;
    margin:0px 5px 0px 5px;
    background: rgb(173 0 159 / 82%);
    background-image: linear-gradient(246deg, #0328dfd6, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.chartSection.hidde{
    height: 50px ;
}
.expenseSection{
    position: relative;
    height: 15%;
    max-height: 140px;
    min-height: 140px;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}
.expenseSection.searchPlace{
    display: inline-block;
    height: calc(60% - 60px);
    text-align: left;
    max-height: none;
    width: 100%;
}
.expenseSection.hidde.searchPlace{
    display: inline-block;
    height: calc(60% - 22%);
    text-align: left;
    max-height: none;
    width: 100%;
}
.expenseSection.hidde{
    height: 0px ;
    max-height: 0;
    min-height: 0;
}
 .CriptoSection.expenseHidde{
    height: calc(37% + 140px) !important;
}
.expenseSection.hidde.searchPlace .rankingContent,
.expenseSection.searchPlace .rankingContent{
    overflow: auto;
}
.rankingContent{
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}
.criptoRanking{
    position: relative;
    margin: 15px;
    border-radius: 10px;
    
    height: 90px;
    min-width: 90px;
    min-height: 90px;
    text-align: center;
    display: inline-block;
    
    background: rgb(20 20 20 / 54%);
    padding: 10px;
    transition: 0.5s;
}
.criptoRanking.invalid{
    cursor:not-allowed !important;
    background: rgba(204, 2, 2, 0.54);
}
.criptoRanking.own{
    cursor:not-allowed !important;
    background: rgba(76, 204, 2, 0.54) !important;
}
.criptoRanking.own::after{
    position: absolute;
    content:'✔';
    width: 25px;
    height: 25px;
    border-radius: 40px;
    background: rgba(0, 255, 0, 0.637);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 15px;
    
}
.criptoRanking:hover,
.myCriptos:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: rgb(0, 0, 0);
    background-image: linear-gradient(300deg, #000f7c, transparent);
}
.expOption{
    position: absolute;
    right: 20px;
    margin: 5px;
    cursor: pointer;
}
.expenseSection .hiddenExp{
    display: block;
}
.expenseSection.searchPlace .hiddenExp{
    display: none;
}
.expenseSection .closeSearch{
    display: none;
}
.expenseSection.searchPlace .closeSearch{
    display: block;
}
.imgCripto{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCripto span:nth-child(1){
    position: absolute;
    width: 100%;
    height: 100%;
}

.criptoRanking:hover .imgCripto span:nth-child(1) img {
	-webkit-transform: rotate(15deg) scale(1.2);
	transform: rotate(15deg) scale(1.2); 
} 

.imgCripto span:nth-child(1) img {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgCripto span:nth-child(2){
    position: relative;
    right: -16px;
    top: -23px;
    background: #d8ff002e;
    padding: 2px;
    font-size: 15px;
    border-radius: 100px;
}
.ranking{
margin-top: 5px;
}
.CriptoSection{
    position: relative;
    height: 37%;
    text-align: center;
    overflow: hidden;
}
.criptoContent{
    
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow: auto;
    max-width: 94%;
    height: calc(100% - 40px);
    text-align: center;
}
.CriptoSection:after {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    /* box-shadow: 0px 8px 73px 55px rgb(0 0 0 / 92%); */
    background: linear-gradient(180deg,rgba(5,10,15,0),#000000);
    height: 51px;
    right: 0;
    /* z-index: 2; */
}
.titleSecion{
    height: 40px;
    width: 100%;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.titleSecion span:nth-child(1){
    margin: 10px;
}
.Empty_wallets_content{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Empty_wallets_content p{
    color: aliceblue;
    padding: 30px;
    background: rgb(20 20 20 / 54%);
    border-radius: 10px;

}
/* .backgroundCripto{
    display: inline-block;
    
}
.backgroundCripto.active{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000c7;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.backgroundCripto.active .chartCritoContent{
    background: rgb(0, 0, 0);
    position: absolute;
    width: 100vw;
    height: 53%;
    margin-top: -82px;
    left: 0vw;
    border-top: 2px solid #0000a56e;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.backgroundCripto.active .myCriptos:hover{
    transform: none;
    cursor:auto;
    background: rgba(0, 0, 0, 0.54);
}
.backgroundCripto.active .myCriptos{
    transition: none;
}
.backgroundCripto.active .chartCritoContent::after{
    position: absolute;
    content: '';
    background: #000000;
    height: 10px;
    width: 300px;
    margin-top: -6px;
    margin-left: -150px;
} */
.myCriptos{
    position: relative;
    display: inline-block;
    /* border: 2px solid #0000a56e; */
    height:200px ;
    width: 280px;
    min-width: 280px;
    font-size: 0.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    transition: 0.5s;
    background: rgb(0, 0, 0);

    background-image: linear-gradient(300deg, #0015ab, transparent);
}
.myCriptos.not_buys .chartCrito:after {
    position: absolute;
    content: '';
    background: #000000;
    height: 21px;
    width: 300px;
    min-width: 26%;
    left: 0px;
    margin-top: -4px;
}
.myCriptos.not_buys .chartCrito{
    overflow: hidden;
    height: 0px;
    margin-top: 27px;
}
.myCriptos.positive{
    transition: 0.5s;
    background-image: linear-gradient(300deg, #0015ab, #1aab0094);
}
.myCriptos.negative{
    transition: 0.5s;
    background-image: linear-gradient(300deg,#0015ab, #ab0000bf);
}
.myCriptos.buy{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    transition: none;
    border: none;
    transform: none;
    cursor:auto;
    transform: scale(1.3);
    
}

.infoCripto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cristoIMG{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    /* background: #201f1f; */
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cristoIMG img{
    width: 100%;
}
.criptoData{
    display: flex;
    font-size: 0.8em;
    text-align: left;
}
.criptoData div span{
    display: block;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.percentCripto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0041ff33;
    border-radius: 5px;
    padding: 3px 8px 3px 10px;
    font-size: 0.9em;
}
.chartCrito{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.8em;
}
.chartCrito div span{
    display: block;
}
.detailsCritoContent{
    height: 49px;
}
.elapseTim{
    font-size: 0.8em;
    color: #d3eaff;
}
.section2{
    width: 30%;
    height: 100%;
}
.statusSection,
.historySection{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusContent,
.historyContent{
    position: relative;
    width: 90%;
    height: 90%;
    background: rgb(20 20 20 / 54%);
    border-radius: 15px;
}
.loading {
    display: none;
}
.statusContent.show_loading .loading{
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buySpace{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
}
.buySpace.active{
    display: flex;
    overflow: auto;
}
.buySpace_content{
    padding: 20px;
    border-radius: 15px;
    font-size: 0.7em;
    background: linear-gradient(rgb(0, 21, 171), transparent) rgb(0, 0, 0);
    
}

.buySpace_title{
    text-align: center;
    display: block;
    
}
#invested_saved_coin{
    color: #d3eaff;
    font-size: 0.8em;
    width: fit-content;
    margin: auto;
}
#invested_saved_coin span{
    display: block;
}
#invested_saved_coin div{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}
.buySpace_content_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buySpace_card{
    display: inline-block;
}
.buySpace_card_data{
    position: relative;
    display: inline-block;
}

.buySpace_content div
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.open_ghost_buy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0 !important;
    font-size: 0.7em;

}
/* .open_ghost_buy + div   {
    color:red;
} */
input[type="checkbox"]:checked + .buySpace_ghostBuy {
    color: red !important;
}
#buySpace_ghostBuy:checked ~ .buySpace_ghostBuy {
    transform: scale(5);
  }
  
  
  
.ghostBuy1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
}
.ghostBuy1_content span{
    display: block;
    text-align: left;
}
.ghostBuy2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
}
.buySpace_ghostBuy{
    position: relative;
    text-align: left;
    padding-top: 0px !important;
    opacity: 0.1; 
}
.buySpace_ghostBuy input {
    font-size: 18px;
    width: 90px;
    padding: 9px 0 1px;
    border: 0;
    background: none;
    border-bottom: 1px solid aliceblue;
    color: aliceblue;
    
}
.ghostBuy2 input {
    width: 20px !important;
}
.ghost_content{
    position: absolute;
    font-size: 4em;
    top: 41px;
    left: 0;
    opacity: 0.05;
    width: 100%;
}

.buySpace_card{
    height: 200px;
    width: 280px;
    min-width: 280px;
    padding: 10px;
    margin: 20px 70px 20px 70px;
    background: #000000;
}
.profits_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buySpace_bottom div:nth-child(1){
    font-size: 0.7em;
    text-align: left;
}
.profits_bottom button:nth-child(2){
    background: rgb(76 204 2 / 55%);
    box-shadow: rgb(76 204 2 / 65%) 0 10px 20px -10px;
}